.fs{
    color: #ffffff;
    width: 50%;
}
.coin_img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.r_l{
    border-left: 1px solid #fff;
    box-sizing: border-box;
}
.r_r{
    border-right: 1px solid #fff;
    box-sizing: border-box;
}
.r_t{
    border-top: 1px solid #fff;
    box-sizing: border-box;
}
.r_b{
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
}
.h_c{
    width: 100%;
    margin:15px 0;
    line-height: 20px;
    text-align: center;
}
.c_r{
    background: #ff5000;
}
.f_l{
    float: left;
}
.w_5{
    width: 50%;
}
.tel{
    width: 40px;
    height: 40px;
    background: rgba(20,0,0,0.5);
    position: fixed;
    bottom: 80px;
    right: 15px;
    border-radius: 20px;
}
.m_10{
    margin: 10px;
}
.model2{
    width: 100%;
    overflow: hidden;
    background: #f5f5f5;
    /* background: url("../img/bg_model2.png") no-repeat; */
    text-align: center;
    padding: 20px 0;
}
.con{
    padding: 20px 10px 20px 20px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.con>h2{
    width: 100%;
    font-size: 22px;
    margin: 10px 0;
}
.con>p{
    width: 100%;
    font-size: 14px;
    color: #888;
}
.swipt_img{
    width: 420px;
    height: 310px;
}
.contain{
    width: 200%;
    overflow: hidden;
}
.contain>li{
    width: 33%;
    margin-left: 6%;
    float: left;
    border-radius: 10px;
    background: white;
    padding: 10px 0 20px 0;
}
.contain>li>a{
    display: inline-block;
    width: 100%;
    padding: 10px 60px;
    box-sizing: border-box;
}
.contain_t{
    width: 100%;
    text-align: center;
}
.contain_t>p{
    padding: 5px 0;
    margin: 0 auto;
}
.contain_t>p:nth-child(1){
    font-size: 14px;
    color: #333333;
}
.contain_t>p:nth-child(2){
    font-size: 12px;
    color: #888;
}
.contain_b{
    width: 100%;
    margin-top: 30px;
}
.contain_b>img{
    width: 100%;
}
.model2>button{
    padding: 5px 40px;
    outline: none;
    border: 1px solid #ff5000;
    border-radius: 5px;
    background: #fff;
    font-size: 12px;
    color: #ff5000;
}
.model3{
    /*width: 100%;*/
    overflow: hidden;
    /* width: 412px; */
    /*height: 678px;*/
    background: url("../img/bg_solution_1.png");
    /*position: relative;*/
}
.model3_t{
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}
.model3_t>h4{
    color: #fff;
}
.model3_t>p{
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 15px;
    color: white;
}
.model3_b{
    width: 90%;
    margin: 5% 10px;
    /*position: absolute;*/
    /*top: 140px;*/
    /*left: 5%;*/
    border-radius: 5px;
    background: white;
    overflow: hidden;
    border: 1px solid #f5f5f5;
}
.model3_bt{
    width: 100%;
}
.model3_bt>li{
    float: left;
    width: 20%;
}
.model3_bt>li>a{
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    color: #333333;
}
.active1{
    border-bottom: 1px solid #ff5000;
}
.model3_bc{
    clear: both;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.h2{
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.h2_c{
    width: 90%;
    margin: 0 5%;
    border-radius: 5px;
    padding: 10px 30px;
    box-sizing: border-box;
    background: rgba(20,0,0,0.4);
}
.h2_c>p:nth-child(1){
    margin: 5px 0 0 0;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 2px 0;
    box-sizing: border-box;
}
.h2_c>img:nth-child(2){
    width: 100%;
}
.h2_c>p:nth-child(3){
    text-align: center;
    color: white;
    font-size: 14px;
}
.h2_cc{
    width: 100%;
    text-align: center;
}
.h2_cc>img{
    width: 100%;
}
.h2_cc>button{
    margin: 40px 0;
    padding: 5px 40px;
    outline: none;
    border: 1px solid #ff5000;
    border-radius: 5px;
    font-size: 12px;
    background: transparent;
    color: #ff5000;
}
.icon_t{
    margin: 30px 0;
    width: 100%;
}
.icon_t>li{
    float: left;
    width: 33.33%;
}
.icon_t>li>a{
    width: 100%;
    display: inline-block;
    font-size: 12px;
    color: #333333;
    text-align: center;
}
.icon_t>li>a>img{
    vertical-align: middle;
}
.icon_t>li>a>span{
    display: inline-block;
    width: 100%;
}
.bg{
    width: 100%;
    /*background-color: rgba(20,0,0,0.1);*/
    text-align: center;
    /*z-index: 988;*/
}
.bg_img{
    background-image: url("../img/bg_customer.png");
    background-size: 100%;
    width: 100%;
    height: 220px;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}
.bg>p{
    width: 100%;
    font-size: 14px;
    /*color: white;*/
    padding: 15px 0;
    margin: 0;
}
.bg>p>span{
    font-size: 18px;
}
.model4{
    width: 100%;
    text-align: center;
    background: #f5f5f5;
}
.model4>h2{
    width: 100%;
    padding: 40px 80px;
    box-sizing: border-box;
    font-size: 20px;
}
.model4>video{
    padding: 0 30px;
    box-sizing: border-box;
}
.a{
    display: inline-block;
    width: 100%;
    line-height: 40px;
    text-align: left;
    color: #333333;
    background: white;
    /*border: 1px solid #888;*/
    margin: 10px 0;
    padding: 0 5px;
    box-sizing: border-box;
}
.a_a{
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
}
.ju{
    margin: 5px;
}
.dropdown-item>p{
    width: 100%;
}

/**
导航
**/
.s-right-nav-mask {
    z-index: 998;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: rgba(0,0,0,.7);
}

.s-nav-container {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    width: 18.125rem;
    height: 100%;
    background: #fff;
}

.s-nav-head {
    margin: 0 1.875rem;
    padding: .875rem 0;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    line-height: 1.6875rem;
    color: #999;
    font-size: .875rem;
}
.s-nav-head .logo {
    width: 4.4375rem;
    height: 1.6875rem;
}
img {
    border: 0 none;
    vertical-align: top;
}
.ftr {
    float: right;
}

.s-nav-lists {
    position: relative;
    margin: 0 1.875rem;
}

.s-nav-lists li {
    line-height: 3.125rem;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
}
.s-nav-list {
    position: relative;
}

.s-nav-list.active .s-nav-list-title {
    color: #e83e43;
}

.s-subnav-lists {
    margin-left: .9375rem;
}
.s-nav-list-title {
    display: inline-block;
    height: 3.125rem;
    background: #fff;
}

.s-nav-list-title-text {
    line-height: 3.125rem;
    font-size: 1rem;
    vertical-align: middle;
}

.s-nav-list-title-icon {
    width: .3125rem;
    height: .3125rem;
    margin-left: .625rem;
    vertical-align: middle;
}

.s-nav-list-title-icon {
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: .3125rem;
    border: .34375rem solid transparent;
    border-left-width: .28125rem;
    border-right-width: .28125rem;
    border-top-color: #333;
    transform-origin: .21875rem .09375rem;
    transition: .2s;
}

.toggle .s-nav-list-title-icon {
    transform: rotate(180deg);
}

.s-subnav-lists .s-subnav-list-pre-title {
    line-height: 2rem;
    color: #999;
    font-size: .75rem;
}

.s-subnav-lists .s-subnav-list {
    display: inline-block;
    width: 48.9%;
    color: #707070;
    font-size: .9375rem;
}

.icon-close {
    display: inline-block;
    cursor: pointer;
    transform: rotate(0deg);
    transition: .5s ease;
}

.iconfont {
    color: inherit;
    font-size: inherit;
}
.iconfont {
    font-family: iconfont!important;
    font-size: .5rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p{
  margin-bottom:0;
}


.s-customer-service {
    position: relative;
    height: 12.875rem;
    box-sizing: border-box;
}

.s-customer-service .s-customer-service-image-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20,0,0,.6);
}

.s-customer-service .s-customer-service-image-mask .s-customer-service-content {
    margin-top: 3.125rem;
    text-align: center;
    color: #fff;
}

.s-customer-service .s-customer-service-image-mask .s-customer-service-content-top {
    line-height: .90625rem;
    font-size: .9375rem;
}

.s-customer-service .s-customer-service-image-mask .s-customer-service-content-middle {
    margin: 1.875rem auto;
    line-height: 1.125rem;
    font-size: .875rem;
    text-indent: .0625rem;
    letter-spacing: .0625rem;
}

.s-customer-service .s-customer-service-image-mask .s-customer-service-content-middle span {
    font-size: 1.25rem;
    text-indent: .09375rem;
    letter-spacing: .09375rem;
}

.s-customer-service .s-customer-service-image-mask .s-customer-service-content-bottom {
    line-height: .96875rem;
    font-size: 1rem;
    text-indent: .1875rem;
    letter-spacing: .1875rem;
}

.s-customer-service .s-customer-service-image {
    width: 100%;
    height: 100%;
    background: url(../img/bg_customer.png) 50%/cover no-repeat;
}


.s-eight-services-description {
    margin: 1.25rem 0;
}
.s-eight-services-description .s-description {
    margin-bottom: .625rem;
}


.s-description {
    position: relative;
    list-style: none;
}

.s-description-item {
    display: inline-block;
    width: 100%;
    height: 3.125rem;
    padding: 0 1.25rem;
    box-sizing: border-box;
    background: #fff;
    text-align: left;
    box-shadow: 0 0.03125rem 0.125rem rgba(0,0,0,.1);
}
.s-description-item-img {
    width: 1.125rem;
    vertical-align: middle;
}

.s-description-item-title {
    margin-left: .78125rem;
    line-height: 3.125rem;
    font-size: 1rem;
    vertical-align: middle;
}

.s-description-item .iconfont {
    display: inline-block;
    line-height: 3.125rem;
    font-size: 1rem;
    transform: rotate(0deg);
    transition-duration: .2s;
    transition-timing-function: linear;
}

.s-eight-services {
    padding: 1.25rem 0;
    background: #f5f5f5;
}

.s-container-phone {
    overflow: hidden;
    width: 100%;
    padding: 0 1.5625rem;
}

.s-container {
    /* width: 37.5rem; */
    margin: 0 auto;
    box-sizing: border-box;
}

.clearfix{
  clear: both;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    zoom: 1;
}

.s-eight-services .s-main-head {
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
    padding: 0 2.375rem;
    line-height: 1.875rem;
}

.s-main-head {
    margin: 3.125rem 0;
    /* line-height: 1.1875rem; */
    text-align: center;
    font-size: 1.25rem;
}

.s-eight-services-description .s-description {
    margin-bottom: .625rem;
}
.s-description {
    position: relative;
    list-style: none;
}

.s-description-dropdown {
    display: none;
    padding: 1.25rem;
    box-sizing: border-box;
    background: #fff;
    color: #888;
    font-size: .875rem;
    box-shadow: 0 0.03125rem 0.125rem rgba(0,0,0,.1);
}

.s-description-active .s-description-dropdown {
    display: block;
}

.s-eight-services-video {
    position: relative;
    overflow: hidden;
    height: 11.4375rem!important;
}

.s-description-active .s-description-item .iconfont {
    transform: rotate(180deg);
    transition-duration: .2s;
    transition-timing-function: linear;
}

.s-description-dropdown .s-description-dropdown-content {
    width: 100%;
    word-wrap: normal;
}

.s-description-p {
    position: absolute;
    width: 18.75rem;
    text-align: center;
    color: #999;
    font-size: .75rem;
}

/**
 * s-pic-ma
 * [position description]
 * @type {[type]}
 */
.s-pic-map {
    position: relative;
    overflow: hidden;
    height: 29.5625rem;
}

.s-pic-map:before {
    content: "";
    z-index: -999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(https://fubei-official-resources.oss-cn-beijing.aliyuncs.com/image-resources/home/mobile/bg_pic_map.png) center 0/cover no-repeat;
}

.s-image {
    position: relative;
    overflow: hidden;
    height: inherit;
    background-position: 50%;
    background-repeat: no-repeat;
}

.s-pic-map-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #fff;
}

.s-pic-map-mask .s-main-head {
    margin-bottom: .90625rem;
}

.s-main-head {
    margin: 3.125rem 0;
    line-height: 1.1875rem;
    text-align: center;
    font-size: 1.25rem;
}

.s-pic-map-mask .s-subfooter {
    position: absolute;
    right: 0;
    bottom: 2.8125rem;
    left: 0;
    line-height: .75rem;
    color: #fff;
}

.s-pic-map-mask p {
    padding: 0 1.4375rem;
    line-height: 1.375rem;
    text-align: center;
    color: #ccc;
    font-size: .875rem;
}

/*
s-data-counter
 */
.s-data-counter {
    height: 6.5625rem;
    background: #fff;
}

.s-data-counter-item {
    display: inline-block;
    width: 32.5%;
    height: 100%;
    text-align: center;
}

.s-data-counter-item-title {
    margin: 1.875rem auto .625rem;
    line-height: 1.5rem;
    color: #333;
    font-size: 1.5rem;
}

.s-data-counter-item-subtitle {
    line-height: .75rem;
    color: #999;
    font-size: .75rem;
}

.s-join-process {
    overflow: hidden;
    height: 30.6875rem;
    background-color: #fafafa;
}

.s-join-process .s-main-head {
    margin-bottom: .3125rem;
}

.s-join-process-content {
    position: relative;
    margin-top: 1.5625rem;
    background: url(https://www.51fubei.com/_nuxt/img/bg_process_line.5d599e8.png) 50%/cover no-repeat;
}


.s-join-process-item:first-child, .s-join-process-item:nth-child(2) {
    margin-bottom: 1.5625rem;
}

.s-join-process-item {
    position: relative;
    display: inline-block;
    width: 49%;
}

.s-image {
    position: relative;
    overflow: hidden;
    height: inherit;
    background-position: 50%;
    background-repeat: no-repeat;
}

.s-join-process-item-image {
    height: 3.3125rem!important;
    margin: 0 auto .6875rem;
    background-size: contain;
}

.s-join-process-item-title {
    position: relative;
    width: 3.5rem;
    height: 1.125rem;
    margin: 0 auto;
    line-height: 1.125rem;
    text-align: left;
    vertical-align: bottom;
    word-break: keep-all;
}

ul.s-join-process-item-list {
    margin-left: 34%;
    text-align: left;
    word-break: keep-all;
}

ul.s-join-process-item-list li {
    position: relative;
    height: .75rem;
    margin-top: .625rem;
    padding-left: .34375rem;
    line-height: .75rem;
    color: gray;
    font-size: .75rem;
    vertical-align: middle;
    word-break: keep-all;
}

ul.s-join-process-item-list li:before {
    content: "";
    position: absolute;
    top: .3125rem;
    left: 0;
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    line-height: .75rem;
    background: #999;
}

.s-join-process-item-title-num {
    position: absolute;
    left: -1.125rem;
    top: -.1875rem;
    width: .875rem;
    color: #e83e43;
    font-weight: 600;
    font-size: 1.25rem;
    vertical-align: bottom;
}

.s-join-process-item-title-text{
    line-height: .875rem;
    font-size: .875rem;
}

.s-cooperate-brand {
    overflow: hidden;
    height: 17.625rem!important;
    background: #fff;
}

.s-main-head {
    margin: 3.125rem 0;
    line-height: 1.1875rem;
    text-align: center;
    font-size: 1.25rem;
}

.s-brand-container {
    overflow: hidden;
    width: 100%;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    /*overflow: hidden;*/
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: -ms-flexbox;*/
    display: flex;
    -webkit-transition-timing-function: linear!important;
    -o-transition-timing-function: linear!important;
    -ms-transition-timing-function: linear!important;
    transition-timing-function: linear!important;
    transition-property: transform,-webkit-transform;
    /*-webkit-box-sizing: content-box;*/
    box-sizing: content-box;
}

.s-cooperate-brand .swiper-slide {
    width: 11.8125rem!important;
    margin-right: 1.875rem;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
}
.s-brand.s-brand-phone .s-brand-container-inner {
    width: 11.8125rem!important;
    height: 7.0625rem!important;
}

.s-brand .s-brand-container-inner {
    position: relative;
    display: block;
    width: 7.4375rem!important;
    height: 4.5rem!important;
    border-radius: .25rem;
    box-sizing: border-box;
}

.s-brand.s-brand-phone .s-brand-container-inner .s-brand-subtitle {
    bottom: .8125rem;
    padding-left: 0;
    line-height: .875rem;
    text-align: center;
    font-size: .875rem;
}

.s-brand .s-brand-container-inner .s-brand-subtitle {
    position: absolute;
    bottom: .375rem;
    width: 100%;
    padding-left: .375rem;
    line-height: .4375rem;
    text-align: left;
    color: #eee;
    font-size: .4375rem;
}


.s-footer {

    width: 100%;
    margin-bottom: 3rem;
    background: #352c2b;

}

.s-footer .s-container-phone {
    padding: 0 .9375rem;
}
.s-container-phone {
    overflow: hidden;
    width: 100%;
    padding: 0 1.5625rem;
}

.s-foot-info {
    overflow: hidden;
    display: block;
    margin: 1.71875rem auto 0;
}

.s-foot-info .s-foot-btn:first-child {
    float: left;
}
.s-foot-info .s-foot-btn {
    display: block;
    width: 10.25rem;
    height: 2.125rem;
    border: 1px solid #999;
    border-radius: .25rem;
    box-sizing: border-box;
    line-height: 2.125rem;
    text-align: center;
    color: #e6e6e6;
    font-size: .75rem;
    cursor: pointer;
    text-decoration: none;
}

.s-foot-info .s-foot-btn:nth-child(2) {
    float: right;
}
.s-foot-info .s-foot-btn {
    display: block;
    width: 10.25rem;
    height: 2.125rem;
    border: 1px solid #999;
    border-radius: .25rem;
    box-sizing: border-box;
    line-height: 2.125rem;
    text-align: center;
    color: #e6e6e6;
    font-size: .75rem;
    cursor: pointer;
    text-decoration: none;
}

.s-foot-copyright {
    margin: 1rem 0 1.09375rem;
    text-align: center;
    color: #999;
}

.s-foot-address{
    line-height: .9375rem;
    font-size: .625rem;
}

.s-fixed-btn {
    z-index: 199;
    position: fixed;
    right: 0;
    bottom: -17px;
    left: 0;
    width: 100%;
    height: 3.0625rem;
    background: #e83e43;
    color: #fff;
}

.s-fixed-btn-item {
    display: inline-block;
    width: 49%;
    height: 100%;
    padding: .7rem 0;
    cursor: pointer;
}

.s-fixed-btn-item:first-child .s-fixed-btn-text {
    border-right: .03125rem solid #fff;
}
.s-fixed-btn-text {
    display: inline-block;
    width: 100%;
    height: 1.0625rem;
    line-height: 1.0625rem;
    text-align: center;
    font-size: .875rem;
}

.s-fixed-btn-text-img {
    height: 1rem;
    margin-right: .625rem;
    vertical-align: sub;
}

.s-product {
    position: relative;
    height: 34.875rem;
    background: #fafafa 50%/cover no-repeat;
        background-image: none;
    color: #fff;
    transition: all .3s ease-in-out;
}

.s-product .swiper-slide{
    display: none;
}

.s-product .swiper-slide-duplicate-active{
    display: block;
}

.s-product-container {
    overflow: hidden;
    height: 100%;
    background: rgba(20,0,0,.5);
}

.s-product .s-main-head {
    width: 17.34375rem;
    margin: 2.8125rem auto .9375rem;
    line-height: 1.875rem;
}


.s-product-content {
    overflow: hidden;
    height: 27.4375rem;
    border-radius: .25rem;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}


.s-product-content .swiper-wrapper {
    height: 25rem;
}

.s-product .s-product-swiper {
    width: 17.938rem;
    margin: 0 auto;
    text-align: center;
}

.s-product .s-product-swiper-content {
    position: relative;
    overflow: hidden;
    height: 25rem;
    border-radius: .25rem !important;
    background: rgba(20,0,0,.4);
}

.s-product .s-product-swiper-image {
    display: inline-block;
    height: 10.75rem;
    margin: 0 auto;
}

.s-product .s-product-swiper-title {
    margin: 1.21875rem auto .84375rem;
    line-height: 1rem;
    font-size: 1rem;
}

.s-product .s-product-swiper-line {
    display: block;
    width: 18.4375rem;
    height: .34375rem;
    margin: 0 auto;
}

.s-product .s-product-swiper-subtitle {
    margin: 1.09375rem auto 0;
    padding: 0 1.1875rem;
    line-height: 1.25rem;
    color: #ccc;
    font-size: .875rem;
}

.s-product .s-product-swiper-line {
    display: block;
    width: 18.4375rem;
    height: .34375rem;
    margin: 0 auto;
}

.s-product .s-product-swiper-content-bottom {
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.s-product .s-product-swiper-image {
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.s-product .s-product-swiper-content-bottom {
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.s-product .s-product-swiper .s-btn {
    margin: .9375rem 0;
}
.s-btn-phone-danger[data-v-8bc7c966], .s-btn-phone[data-v-8bc7c966] {
    width: 7.5rem;
    height: 2.125rem;
    /*padding: none;*/
    border-radius: .25rem;
    font-size: .75rem;
}
.s-btn-phone[data-v-8bc7c966] {
    background: transparent;
    color: #e83e43;
}
.s-btn[data-v-8bc7c966] {
    width: 1.875rem;
    height: .9375rem;
    padding: 0;
    border: 1px solid #e83e43;
    /*border-radius: .125rem;*/
    box-sizing: border-box;
    line-height: 100%;
    /*color: inherit;
    font-size: .4375rem;*/
    cursor: pointer;
}

.s-product-content .swiper-pagination.s-swiper-phone {
    bottom: 1.25rem;
}

.swiper-pagination.s-swiper-phone .swiper-pagination-bullet {
    background: #ccc;
}
.swiper-pagination.s-swiper-phone-normal .swiper-pagination-bullet, .swiper-pagination.s-swiper-phone .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
}
.swiper-pagination.s-swiper-phone-normal .swiper-pagination-bullet, .swiper-pagination.s-swiper-phone .swiper-pagination-bullet {
    width: .5rem;
    height: .5rem;
    margin: 0 .3125rem;
    border-radius: 50% !important;
}
.swiper-pagination .swiper-pagination-bullet {
    width: .3125rem;
    height: .3125rem;
    margin: 0 5px;
}
.swiper-pagination-bullet {
    background: hsla(0,0%,100%,.4);
    opacity: 1;
}
.swiper-pagination-bullet {
    width: .25rem;
    height: .25rem;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    /*opacity: .2;*/
}

.swiper-pagination.s-swiper-phone .swiper-pagination-bullet-active {
    background: #e83e43;
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

.s-product-content .swiper-pagination.s-swiper-phone {
    bottom: 1.25rem;
}
.swiper-pagination.s-swiper-phone, .swiper-pagination.s-swiper-phone-normal {
    height: 8px;
}
.swiper-pagination.s-swiper-phone, .swiper-pagination.s-swiper-phone-normal {
    bottom: 1.5625rem;
    width: 100%;
    height: .5rem;
}
.swiper-pagination {
    bottom: .9375rem;
    width: 100%;
    height: .3125rem;
}
.swiper-button-next, .swiper-button-prev, .swiper-pagination {
    outline: none;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: opacity .3s;
    -o-transition: .3s opacity;
    transition: opacity .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 10;
}

.z-solution {

    padding-bottom: 2.5rem;
    background: #fff;

}

.s-image[data-v-5e2fa0e0] {

    position: relative;
    overflow: hidden;
    height: inherit;
    background-position: 50%;
    background-repeat: no-repeat;

}
.z-solution-title {

    padding-top: 2.96875rem;
    text-align: center;
    color: #fff;
    font-size: 1.4375rem;

}

.z-solution-subtitle {

    padding: 1.25rem 1.6875rem;
    text-align: center;
    color: #fff;
    font-size: .875rem;

}

.z-solution-main {

    width: 21.5625rem;
    margin: 0 auto;
    padding-bottom: .25rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 .03125rem .25rem .0625rem rgba(0,0,0,.1);

}

.z-solution-main .z-solution-main-swiper {

    border-bottom: .03125rem solid #e5e5e5;

}

.z-solution-main .z-solution-main-title {

    position: relative;
    display: flex;

}
.z-solution-main .z-solution-nav-item {

    width: 4.3125rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: gray;
    font-size: .8125rem;
    cursor: pointer;
    position: relative;
    -webkit-flex-shrink:0;
    -moz-flex-shrink:0;
}

.z-solution-main .z-solution-main-title .active-title::after {

    content: "";
    position: absolute;
    top: 1.4375rem;
    left: 0;
    width: 100%;
    height: .25rem;
    border-bottom: .25rem solid rgba(213,16,25,.6);

}
.z-solution-main .z-solution-nav-item {

    width: 4.3125rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: gray;
    font-size: .8125rem;

}

.swiper-container .swiper-notification {

    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;

}
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {

    height: auto;

}

.z-solution-main .z-solution-item {

    padding-bottom: 1.25rem;

}
.z-solution-main .z-solution-item .z-solution-list {

    position: relative;
    float: left;
    width: 9.84375rem;
    margin: 1.1875rem 0 0 .625rem;

}

.z-solution-main .z-solution-item .z-solution-list-image {

    width: 100%;
    height: 6.25rem;

}

.z-solution-main .z-solution-item .z-solution-list-text {

    position: absolute;
    top: 3.875rem;
    width: 100%;
    font-size: .8125rem;
    text-align: center;
    color: #fff;

}

.z-solution-main .z-solution-item .z-solution-list-title {

    display: block;
    padding: .75rem .625rem;
    text-align: center;
    color: gray;
    font-size: .75rem;

}

.z-solution-main .z-solution-item .z-solution-list-button {

    display: block;
    width: 7.5rem;
    height: 2.125rem;
    margin: 0 auto;
    border-radius: .25rem;
    text-align: center;
    font-size: .75rem;

}
.s-btn-default[data-v-8bc7c966] {

    background: #fff;
    color: #e83e43;
    cursor: pointer;

}

.s-fubei-introduce {

    overflow: hidden;
    box-sizing: border-box;
    background: #f5f5f5;

}

.s-container-phone[data-v-08f0f936] {

    overflow: hidden;
    width: 100%;
    padding: 0 1.5625rem;

}
.s-container[data-v-08f0f936] {

    /*width: 37.5rem;*/
    margin: 0 auto;
    box-sizing: border-box;

}

.s-fubei-introduce .s-main-head {

    margin-bottom: .90625rem;

}

.s-fubei-introduce .s-fubei-introduce-subtitle {

    margin: 0 auto;
    line-height: 1.3125rem;
    text-align: center;
    color: #999;
    font-size: .875rem;

}

.s-fubei-introduce .s-fubei-introduce-container {

    margin-top: 1.46875rem;

}

.swiper-container {

    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;

}

.s-fubei-introduce .swiper-slide {

    width: 18.75rem !important;

}
.s-fubei-introduce .s-fubei-introduce-swiper {

    position: relative;
    overflow: hidden;
    width: 17.5rem;
    height: 18.75rem;
    margin: 0 auto;
    border-radius: .25rem;
    text-align: center;
    background: #fff;

}

.s-fubei-introduce .s-fubei-introduce-swiper-content {

    overflow: hidden;
    height: 6.25rem;

}

.s-fubei-introduce .s-fubei-introduce-swiper-image {

    position: absolute;
    bottom: 1.5625rem;
    width: 100%;

}

.s-fubei-introduce .s-fubei-introduce-swiper-image-inner {

    height: 10.9375rem;
    margin: 0 auto;

}

.s-fubei-introduce .s-fubei-introduce-swiper-content .s-fubei-introduce-swiper-title {

    margin: 1.875rem auto .40625rem;
    line-height: .90625rem;
    color: #333;
    font-size: .9375rem;

}

.s-fubei-introduce .s-fubei-introduce-swiper-content .s-fubei-introduce-swiper-subtitle {

    line-height: 1.125rem;
    color: gray;
    font-size: .75rem;

}

.s-fubei-introduce .s-fubei-introduce-action {

    margin: 1.875rem 0 2.5rem;
    text-align: center;

}


.s-btn-phone-danger, .s-fubei-introduce-action .s-btn-phone {

    width: 7.5rem;
    height: 2.125rem;
    padding: none;
    border-radius: .25rem;
    font-size: .75rem;

}




























































